*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  width: 100%;
  max-width: 1920px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.content_wrapper {
  display: flex;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}
.label_container {
  display: flex;
  gap: 20px;
  align-items: flex-end;
  margin-left: -162px;
  margin-bottom: 23px;
}
.bullet {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rebeccapurple;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.bullet:hover {
  background-color: wheat;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 0 0 100%;
  transition: all 0.3s ease-in;
  row-gap: 20px;
}
.container > img {
  width: 100%;
}
.active1 {
  background-color: transparent;
  border: 2px solid wheat;
}
#img1:checked ~ {
  transform: translate(0);
}
#img2:checked ~ .imgSlide2 {
  transform: translate(-100%);
}
#img3:checked ~ .imgSlide3 {
  transform: translate(-200%);
}
#img4:checked ~ .imgSlide4 {
  transform: translate(-300%);
}
input {
  visibility: hidden;
}
